<div class="jumbotron">
  <h1 class="display-4 text-center">Welcome To Move And Groove!</h1>
  <p class="lead text-center">Move And Groove Is Your Number One Fitness Tracker App... Track Your Daily Fitness Routine To Stay In Shape!</p>
</div>
<div>
  <%= fa_icon('running', class: 'mr-5', size: '3x', animation: 'spin') %>
  <%= fa_icon('dumbbell', class: 'mr-5', size: '3x', animation: 'spin') %>
  <%= fa_icon('skiing-nordic', class: 'mr-5', size: '3x', animation: 'spin') %>
  <%= fa_icon('swimmer', class: 'mr-5', size: '3x', animation: 'spin') %>
  <%= fa_icon('hiking', class: 'mr-5', size: '3x', animation: 'spin') %>
  <%= fa_icon('skating', class: 'mr-4', size: '3x', animation: 'spin') %>
  <%= fa_icon('biking', class: 'mr-4', size: '3x', animation: 'spin') %>
  <%= fa_icon('snowboarding', size: '3x', animation: 'spin') %>
</div>